.payment{
  display: flex;
  width: 80%;
  margin: 30px auto;
  justify-content: space-between;
}
.address{
  font-size: 24px;
  color: #fbbf24;;
}
.stripe{
 

  width: 50%;
  margin: 0 auto;

}
.pay-btn{
padding: 10px 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 70px auto;
}

.error{
  color: red;
  text-align: center;
}